<div class="banner">
  <div class="left-banner">
    <h1 class="title">{{ page.title }}</h1>
    <h3 class="subtitle">{{ page.subtitle }}</h3>
  </div>
  <div class="right-banner">
    <div class="owl-wrapper">
      <div class="owl-carousel">
        {% for work in site.data.works %}
        <div class="banner-card">
          <img src="{{ work.path }}" alt="">
          <div class="card-details">
            <h3 class="work-title">{{ work.title }}</h3>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
